*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/graphql/com/adammcneilly/pocketleague/.graphqlconfig
/core-models/build/
/eventsummary/src/commonMain/kotlin/com/adammcneilly/pocketleague/eventsummary/Keys.kt
/eventsummary/build/
