*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/graphql/com/adammcneilly/pocketleague/.graphqlconfig
/shared/build/
/core-models/build/
/core-data/build/
/event-api/build/
/buildSrc/build/
PocketLeagueiOS/PocketLeagueiOS.xcodeproj/project.xcworkspace/xcuserdata/amcneilly.xcuserdatad/UserInterfaceState.xcuserstate
